PORT=3000
BASE_URL=https://SEU-ENDERECO-PUBLICO
VERIFY_TOKEN=troque_esse_token
META_ACCESS_TOKEN=cole_seu_token_meta
PHONE_NUMBER_ID=cole_o_phone_number_id
GRAPH_API_VERSION=v23.0
ALLOWED_NUMBERS=5599999999999,5588888888888
SESSION_SECRET=troque_essa_senha_bem_forte
WEB_USER=admin
WEB_PASSWORD=123456
TIMEZONE=America/Sao_Paulo
